*{
	box-sizing: border-box;
}

	body {
		
		background:url(pictures/minimalizm-tekstura-geometriya.jpg);		
	}

	.field {
		width: 500px;
		height: 500px;
		margin-left:500px;
		display:flex;
		flex-wrap: wrap;
		background:url(pictures/Field.png);

	}

	.excel {
		width: 50px;
		height: 50px;
		padding: 5px;
	}

	.snakeBody {
		background: url(pictures/body.jpg);
		background-size: cover;
		border-radius: 30%;
	}

	.head {
		background: url(pictures/head.jpeg);
		background-size: cover;
		border-radius: 40%;
	}


	.fruit {
		background: url(pictures/fruit.jpg);
		background-size: cover;
		border-radius: 50%;
	}

	input{
		margin: auto;
		margin-top: 40px;
		font-size: 30px;
		display:block

	}

	#manage {
		width: 150px;
		height: 60px;
		color:red;
	}
